<%= form_for(@experiment) do |f| %>
  <% if @experiment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@experiment.errors.count, "error") %> prohibited this experiment from being saved:</h2>

      <ul>
      <% @experiment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "What's your current blood pressure?" %><br>
    <%= f.number_field :initial_value %>
  </div>
  </div>
  <div class="grid">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <%= f.label "What day do you want to start your experiment?" %><br>
          <%= date_field(:experiment, :start, { class: "form-control" } ) %>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12">
          <%= f.label "What day do you want to end your experiment?" %><br>
          <%= date_field(:experiment, :end, { class: "form-control" } ) %>
        </div>
    </div>   
  </div>
  <div class="field">
    <%= f.label "What do you want your blood pressure to be by the end?" %><br>
    <%= f.number_field :end_value %>
  </div>
  <div class="field">
    <%= f.hidden_field :treatment_id %>
  </div>
  <div class ="field"> 
    <%= f.label "Select your treatment option:"%>
    <%= f.select(:treatment_id, options_for_select(Treatment.all.collect{ |t| [t.name, t.id]})) %>
  </div>
    <%= f.hidden_field :user_id,  value: current_user.id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
